
@{
    ViewBag.Root = "Report";
    ViewBag.Title = "CropTransferReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crop Transfer Report</h2>

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/REPORTS/CropTransferReport.aspx" frameBorder="0" style="width:1320px;height:900px;"></iframe>
        </div>
    </div>
</div>