
@{
    ViewBag.Root = "REPORTS";
    ViewBag.Title = "LP4Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">LP4 PRINT REPORT</h2>

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/REPORTS/LP4PrintReport.aspx" frameBorder="0" style="width:1320px;height:900px;"></iframe>
        </div>
    </div>
</div>