
@{
    ViewBag.Root = "LPD";
    ViewBag.Title = "BCMAxMinTransChrReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/LPD/BuyerClassMinMaxReportWithTransport.aspx" frameBorder="0" style="width:1320px;height:900px;"></iframe>
        </div>
    </div>
</div>
