
@{
    ViewBag.Root = "Quality Lab";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">CHEMISTRY TARGET INDEX</h2>
<hr />


<p>
    <button type="button" role="button" onclick="@("window.location.href='" + @Url.Action("Create", "ChemistryTarget") + "'");" class="btn btn-success btn-sm"> Create New Item </button>
    <button type="button" role="button" onclick="@("window.location.href='" + @Url.Action("ExcelIndex", "ChemistryTarget") + "'");" class="btn btn-success btn-sm"> Excel Upload</button>
    @*<button type="button" role="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-form"> Excel Upload </button>*@
</p>
