
@{
    ViewBag.Root = "Master";
    ViewBag.Title = "AuthorisedQtyMasterIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center; color:#438EB9"> Authorised Quantity Master Index </h2>



<div class="row">
    <div class="col-md-3">
        <div class="sm-3">
            <label>CROP</label>
            @Html.DropDownList("CROP", new SelectList(ViewBag.GPIL_CROP_MASTERs, "CROP", "CROP_YEAR"), "Please select", new { @id = "ddlCropYear", @class = "form-control" })
        </div>
    </div>

    </div>


<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="sm-3">

                <label class="label info">Excel File</label>
                <input type="file" name="postedFile" id="txtExcelData" class="form-control" />
                <br />
                <input type="submit" value="Import" id="btnSubmit" style="width:95px" class="btn btn-success btn-sm" />
                <input type="submit" value="Add" id="btnAddNewRow" style="width:95px" class="btn btn-success btn-sm" />
                <input type="submit" value="Complete" id="btnComplete" style="width:95px" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
</div>









<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Authorised Quantity Master</h3>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for "AUTHORISED QUANTITY MASTER"
        </div>
        <div class="form-horizondal" id="frmdetl" style="overflow-y: scroll; overflow-x: scroll; height:auto">
            <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th>FARM_CODE</th>
                        <th>FARM_CATEGORY</th>
                        <th>FARM_NAME</th>
                        <th>FARM_FATHER_NAME</th>
                        <th>VILLAGE_CODE</th>
                        <th>SOIL_TYPE</th>
                        <th>FARM_ADDRESS1</th>
                        <th>FARM_ADDRESS2</th>
                        <th>FARM_ADDRESS3</th>
                        <th>CLASSIFIER_GRADE_GROUP</th>
                        <th>PAIR_TYPE</th>
                        <th>SNO</th>
                        <th>CROP</th>
                        <th>VARIETY</th>
                        <th>BUYER_GRADE_GROUP</th>
                        <th>CLASSIFIER_GRADE_GROUP</th>
                        <th>PAIR_TYPE</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>

