
@{
    ViewBag.Root = "LD";
    ViewBag.Title = "FarmerPurchaseVerificationSlipByDateIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/LD/FarmerPurchaseSlipDatewise.aspx" frameBorder="0" style="width: 1320px; height: 1600px;"></iframe>
        </div>
    </div>
</div>

