@model IEnumerable<GPILWebApp.ViewModel.DataLoader.FumigationReportLoader>
@{
    ViewBag.Root = "Loader";
    ViewBag.Title = "FumigationReportLoaderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="css/custom.css" rel="stylesheet" />
<style type="text/css">
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url('../../Images/Loading.gif') no-repeat center center;
        z-index: 10000;
        /*background-image: url('../../Images/Loading.gif');*/
    }
</style>

<h2 style="text-align:center; color:#438EB9">Fumigation Report Loader</h2>
<hr />
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="sm-3">

                <label class="label info">Excel File</label>
                <input type="file" name="postedFile" id="txtExcelData" class="form-control" />
                <br />
                <input type="submit" value="Import" id="btnSubmit" style="width:95px" class="btn btn-success btn-sm" />
                <input type="submit" value="Clear" id="btnClear" style="width:95px" class="btn btn-success btn-sm" />

            </div>
        </div>
    </div>
</div>

<div id="alert_placeholder"></div>
<span id="message"></span>
<hr />
<div class="row">
    <div class="col-xs-12">
       

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for "FUMIGATION REPORT DETAILS"
        </div>
        <div class="form-horizondal" id="frmdetl" style="overflow-y: scroll; overflow-x: scroll; height:auto">
            <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
                <thead>
                    <tr>
                        @*select FUMIGATION_BATCH,ORGN_CODE,CASE_NUMBER,FUMIGATED_BY,FUMIGATION_STARTING_DATE,FUMIGATION_DAYS_FOR_RUNPREIOD,FUMIGATION_DAYS_FOR_EXPIRY,REMARKS from [Sheet1$]*@
                        <th>SNO</th>
                        <th>FUMIGATION_BATCH</th>
                        <th>ORGN_CODE</th>
                        <th>CASE_NUMBER </th>
                        <th>FUMIGATED_BY</th>
                        <th>FUMIGATION_STARTING_DATE</th>
                        <th>FUMIGATION_DAYS_FOR_RUNPREIOD</th>
                        <th>FUMIGATION_DAYS_FOR_EXPIRY</th>
                        <th>REMARKS </th>
                        <th>Add/Edit/Update/Delete </th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="loader">
</div>

<div class="row">
    <label></label>
</div>

<div>
    <div class="row">
        <div class="col-sm-4">
            <div class="sm-3">

            </div>
        </div>
        <div class="col-sm-1">
            <div class="sm-3">

            </div>
        </div>

        <div class="col-sm-4">
            <div class="sm-3">


                <input type="submit" value="Complete" id="btnComplete" style="width:95px" class="btn btn-success btn-sm" />
                <input type="submit" value="Close" id="btnBack" style="width:95px" class="btn btn-success btn-sm" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sm-3">

            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>


<script>

    bootstrap_alert = function () { }
    bootstrap_alert.warning = function (message, status) {
        if (status == "success") {
            $('#alert_placeholder').html('<div class="alert alert-success" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        else if (status == "error") {
            $('#alert_placeholder').html('<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        $("#alert_placeholder").fadeTo(5000, 500).slideUp(500, function () {
            $("#alert_placeholder").slideUp(500);
        });
    }

    $(document).ready(function () {
        $('.alert').hide();
        var spinner = $('#loader');
        //Create event handler
        $('#btnCreate').on('click', function (event) {

            var hdnHEADER_ID = $('#hdnHEADER_ID').val();
            window.location = '/Verification/Create?HEADER_ID=' + hdnHEADER_ID
            //$.ajax({
            //    type: 'GET',
            //    url: '/Verification/Create',
            //    data: { HEADER_ID: hdnHEADER_ID },
            //    //success: function (msg) {
            //    //    alert(0); alert("Successfully");
            //    //},
            //    //error: function (msg) {
            //    //    alert(0); alert(msg);
            //    //}
            //});
        });

        //Edit event handler.
        $("#dynamic-tabl").on('click', '.btnEdit', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    $(this).find(".text").show();
                    $(this).find(".trBg").hide();
                }
            });
            row.find(".btnUpdate").show();
            row.find(".btnCancel").show();
            row.find(".btnDelete").hide();
            $(this).hide();
        });

        //Cancel event handler.
        $("#dynamic-tabl").on('click', '.btnCancel', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".trBg");
                    var input = $(this).find(".text");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnCancel").hide();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });

        //Update event handler.
        $("#dynamic-tabl").on('click', '.btnUpdate', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });

            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnCancel").hide();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("#dynamic-tabl").on('click', '.btnDelete', function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                row.remove();
            }
        });

        $('#btnClear').on('click', function (event) {
            $('#txtExcelData').val('');

            window.location = "/DataLoader/FumigationReportLoaderIndex";
            dt1.destroy();


        });

        $('#btnBack').on('click', function (event) {


            window.location = "/Home/Index";
            dt1.destroy();


        });

        $('#btnSubmit').on('click', function (event) {
            var FumigationReportList = $("#txtExcelData").get(0).files;
            var formData = new FormData();
            if (FumigationReportList.length > 0) {
            formData.append('postedFile', FumigationReportList[0]);
            GetFumigationReceipt(formData);
            }
            else {
                bootstrap_alert.warning('Select the Excel File to proceed further', "error");
            }
        });

        function GetFumigationReceipt(formData) {
            //var dt01 = $('#dynamic-tabl').DataTable();
            var tblContent = '';
            spinner.show();
            $.ajax({
                type: 'POST',
                url: '/DataLoader/ImportFRFromExcel',
                data: formData,
                contentType: false,
                processData: false,
                success: function (msg) {
                    let data = $.parseJSON(msg);



                    var gethdnFUMIGATION_BATCH = "";
                    for (var i = 0; i < data.length; i++) {
                        var j = i + 1;

                        @*select FUMIGATION_BATCH,ORGN_CODE,CASE_NUMBER,FUMIGATED_BY,FUMIGATION_STARTING_DATE,FUMIGATION_DAYS_FOR_RUNPREIOD,FUMIGATION_DAYS_FOR_EXPIRY,REMARKS from [Sheet1$]*@
                        var FUMIGATION_BATCH = (data[i].FUMIGATION_BATCH == null) ? "" : data[i].FUMIGATION_BATCH;
                        gethdnFUMIGATION_BATCH = FUMIGATION_BATCH; // this gives textbox value
                        var ORGN_CODE = (data[i].ORGN_CODE == null) ? "" : data[i].ORGN_CODE;
                        var CASE_NUMBER = (data[i].CASE_NUMBER == null) ? "" : data[i].CASE_NUMBER;
                        var FUMIGATED_BY = (data[i].FUMIGATED_BY == null) ? "" : data[i].FUMIGATED_BY;
                        var FUMIGATION_STARTING_DATE = (data[i].FUMIGATION_STARTING_DATE == null) ? "" : data[i].FUMIGATION_STARTING_DATE;
                        var FUMIGATION_DAYS_FOR_RUNPREIOD = (data[i].FUMIGATION_DAYS_FOR_RUNPREIOD == null) ? "" : data[i].FUMIGATION_DAYS_FOR_RUNPREIOD;
                        var FUMIGATION_DAYS_FOR_EXPIRY = (data[i].FUMIGATION_DAYS_FOR_EXPIRY == null) ? "" : data[i].FUMIGATION_DAYS_FOR_EXPIRY;
                        var REMARKS = (data[i].REMARKS == null) ? "" : data[i].REMARKS;

                        if (FUMIGATION_BATCH == "" || ORGN_CODE == "" || CASE_NUMBER == "" || FUMIGATED_BY == "" || FUMIGATION_STARTING_DATE == "" || FUMIGATION_DAYS_FOR_RUNPREIOD == ""
                            || FUMIGATION_DAYS_FOR_EXPIRY == "" || REMARKS == "")
                        {
                            bootstrap_alert.warning('Empty In Data Which Have Provided Please verify red color rows', "error");
                            tblContent = tblContent + '<tr style="background-color:Red;color:Black">'
                           + '<td class="trBg" style="text-align:center;" >' + j + '</td >'


                           + '<td class="trBg"><span class="trBg">' + FUMIGATION_BATCH + '</span><input class="text" value="' + FUMIGATION_BATCH + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + ORGN_CODE + '</span><input class="text" value="' + ORGN_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + CASE_NUMBER + '</span><input class="text" value="' + CASE_NUMBER + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + FUMIGATED_BY + '</span><input class="text" value="' + FUMIGATED_BY + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + FUMIGATION_STARTING_DATE + '</span><input class="text" value="' + FUMIGATION_STARTING_DATE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FUMIGATION_DAYS_FOR_RUNPREIOD + '</span><input class="text" value="' + FUMIGATION_DAYS_FOR_RUNPREIOD + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + FUMIGATION_DAYS_FOR_EXPIRY + '</span><input class="text" value="' + FUMIGATION_DAYS_FOR_EXPIRY + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + REMARKS + '</span><input class="text" value="' + REMARKS + '" style="display:none"/></span></td>'




                           + '<td class="trBg"><input class="text1" type="hidden" value="' + FUMIGATION_BATCH + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                           + '</tr >';
                        }

                        else {
                            tblContent = tblContent + '<tr>'
                           + '<td class="trBg" style="text-align:center;" >' + j + '</td >'


                           + '<td class="trBg"><span class="trBg">' + FUMIGATION_BATCH + '</span><input class="text" value="' + FUMIGATION_BATCH + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + ORGN_CODE + '</span><input class="text" value="' + ORGN_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + CASE_NUMBER + '</span><input class="text" value="' + CASE_NUMBER + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + FUMIGATED_BY + '</span><input class="text" value="' + FUMIGATED_BY + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + FUMIGATION_STARTING_DATE + '</span><input class="text" value="' + FUMIGATION_STARTING_DATE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FUMIGATION_DAYS_FOR_RUNPREIOD + '</span><input class="text" value="' + FUMIGATION_DAYS_FOR_RUNPREIOD + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + FUMIGATION_DAYS_FOR_EXPIRY + '</span><input class="text" value="' + FUMIGATION_DAYS_FOR_EXPIRY + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + REMARKS + '</span><input class="text" value="' + REMARKS + '" style="display:none"/></span></td>'




                           + '<td class="trBg"><input class="text1" type="hidden" value="' + FUMIGATION_BATCH + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                           + '</tr >';
                        }
                       
                    }
                    var dt1 = $('#dynamic-tabl').DataTable();
                    dt1.destroy();
                    $('#dynamic-tabl tbody').empty();
                    $('#dynamic-tabl tbody').append(tblContent);
                    spinner.hide();

                    var myTable1 =
                      $('#dynamic-tabl')
                          //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                          .DataTable({
                              "bLengthChange": true,
                              "paging": false,
                              "jQueryUI": true,
                              bAutoWidth: false,
                              "sScrollY": "200px",
                              "sScrollX": "100%",
                              "sScrollXInner":"100%",
                              'order': [[0, 'asc']],
                              "aoColumns": [
                                  null, null, null, null, null, null, null, null, null,
                                  { "bSortable": false },

                                  // { "bSortable": false }
                              ],
                              "aaSorting": [],


                              select: {
                                  style: 'multi'
                              }
                          });
                },
            });
        }


        $('#btnComplete').on('click', function () {
            var ExcelIndexList = $("#txtExcelData").get(0).files;
            if (ExcelIndexList.length > 0) {
                var LFR = {};
            var FumigationReports = new Array();
            $("#dynamic-tabl tbody tr").each(function () {

                @*select FUMIGATION_BATCH,ORGN_CODE,CASE_NUMBER,FUMIGATED_BY,FUMIGATION_STARTING_DATE,FUMIGATION_DAYS_FOR_RUNPREIOD,FUMIGATION_DAYS_FOR_EXPIRY,REMARKS from [Sheet1$]*@
                var row = $(this);
                var FumigationReport = {};
                FumigationReport.SNO = row.find("td:eq(0)")[0].innerText;
                FumigationReport.FUMIGATION_BATCH = row.find("td:eq(1)")[0].innerText;
                FumigationReport.ORGN_CODE = row.find("td:eq(2)")[0].innerText;
                FumigationReport.CASE_NUMBER = row.find("td:eq(3)")[0].innerText;
                FumigationReport.FUMIGATED_BY = row.find("td:eq(4)")[0].innerText;
                FumigationReport.FUMIGATION_STARTING_DATE = row.find("td:eq(5)")[0].innerText;
                FumigationReport.FUMIGATION_DAYS_FOR_RUNPREIOD = row.find("td:eq(6)")[0].innerText;
                FumigationReport.FUMIGATION_DAYS_FOR_EXPIRY = row.find("td:eq(7)")[0].innerText;
                FumigationReport.REMARKS = row.find("td:eq(8)")[0].innerText;
                

                FumigationReports.push(FumigationReport);
            });
                if (FumigationReports.length > 0) {
                    LFR.FumigationReports = FumigationReports;
                    spinner.show();
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/DataLoader/FumigationReportComplete",
                data: JSON.stringify(LFR),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.startsWith("Error", 1)) {
                        bootstrap_alert.warning(response, "error");
                        spinner.hide();
                    }
                    else {
                        if (response.startsWith("Error", 1)) {
                            bootstrap_alert.warning(response, "error");
                        }
                        else if (response.startsWith("Success", 1)) {

                            window.location = "/DataLoader/FumigationReportLoaderIndex";
                            bootstrap_alert.warning(response, "success");
                        }
                        spinner.hide();
                    }
                },
                error: function (msg) {
                    //alert(msg);
                }
            });

                }
                else {
                    bootstrap_alert.warning('Click Import and load the Excel Data!!!', "error");
                }

            } else {
                bootstrap_alert.warning('Select the Excel File to proceed further', "error");
            }
        });


    });
</script>