@model IEnumerable<GPILWebApp.ViewModel.DataLoader.GradingIssueLoader>
@{
    ViewBag.Root = "Loader";
    ViewBag.Title = "GradingIssueLoaderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="css/custom.css" rel="stylesheet" />
<style type="text/css">
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url('../../Images/Loading.gif') no-repeat center center;
        z-index: 10000;
        /*background-image: url('../../Images/Loading.gif');*/
    }
</style>

<h2 style="text-align:center; color:#438EB9">Grading Issue Loader</h2>
<hr />


<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="sm-3">

                <label class="label info">Excel File</label>
                <input type="file" name="postedFile" id="txtExcelData" class="form-control" />
                <br />
                <input type="submit" value="Import" id="btnSubmit" style="width:95px" class="btn btn-success btn-sm" />
                <input type="submit" value="Clear" id="btnClear" style="width:95px" class="btn btn-success btn-sm" />

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="sm-3">
            <label></label>
        </div>
    </div>
</div>
<div id="alert_placeholder"></div>
<span id="message"></span>

<hr />
<div class="row">
    <div class="col-xs-12">
        @*<h3 class="header smaller lighter blue">GRADING ISSUE LOADER</h3>*@

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            Results for "GRADING ISSUE DETAILS"
        </div>
        <div class="form-horizondal" id="frmdetl" style="overflow-y: scroll; overflow-x: scroll; height:auto">
            <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
                <thead>
                    <tr>
                        
                        <th>SNO</th>
                        <th>BATCH_NO</th>
                        <th>ORGN_CODE</th>
                        <th>SUPERVISOR_CODE </th>
                        <th>RECIPE_CODE</th>
                        <th>DATE_OF_OPERATION</th>
                        <th>ISSUED_GRADE</th>
                        <th>CROP</th>
                        <th>VARIETY</th>
                        <th>GPIL_BALE_NUMBER</th>
                        <th>SUBINVENTORY_CODE</th>
                        <th>ASCERTAIN_WEIGHT</th>
                        <th>INS_STS</th>
                        <th>Add/Edit/Update/Delete </th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="loader">
</div>
<div class="row">
    <label></label>
</div>

<div>
    <div class="row">
        <div class="col-sm-4">
            <div class="sm-3">

            </div>
        </div>
        <div class="col-sm-1">
            <div class="sm-3">

            </div>
        </div>

        <div class="col-sm-4">
            <div class="sm-3">


                <input type="submit" value="Complete" id="btnComplete" style="width:95px" class="btn btn-success btn-sm" />
                <input type="submit" value="Close" id="btnBack" style="width:95px" class="btn btn-success btn-sm" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sm-3">

            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-2.1.4.min.js"></script>


<script>
    bootstrap_alert = function () { }
    bootstrap_alert.warning = function (message, status) {
        if (status == "success") {
            $('#alert_placeholder').html('<div class="alert alert-success" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        else if (status == "error") {
            $('#alert_placeholder').html('<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        $("#alert_placeholder").fadeTo(5000, 500).slideUp(500, function () {
            $("#alert_placeholder").slideUp(500);
        });
    }
    $(document).ready(function () {
        $('.alert').hide();
        var spinner = $('#loader');
        //Create event handler
        $('#btnCreate').on('click', function (event) {

            var hdnHEADER_ID = $('#hdnHEADER_ID').val();
            window.location = '/Verification/Create?HEADER_ID=' + hdnHEADER_ID
           
        });

        //Edit event handler.
        $("#dynamic-tabl").on('click', '.btnEdit', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    $(this).find(".text").show();
                    $(this).find(".trBg").hide();
                }
            });
            row.find(".btnUpdate").show();
            row.find(".btnCancel").show();
            row.find(".btnDelete").hide();
            $(this).hide();
        });

        //Cancel event handler.
        $("#dynamic-tabl").on('click', '.btnCancel', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".trBg");
                    var input = $(this).find(".text");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnCancel").hide();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });

        //Update event handler.
        $("#dynamic-tabl").on('click', '.btnUpdate', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });

            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnCancel").hide();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("#dynamic-tabl").on('click', '.btnDelete', function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                row.remove();
            }
        });

        $('#btnBack').on('click', function (event) {


            window.location = "/Home/Index";
            dt1.destroy();


        });



        $('#btnClear').on('click', function (event) {
            $('#txtExcelData').val('');

            window.location = "/DataLoader/GradingIssueLoaderIndex";
            dt1.destroy();


        });

        $('#btnSubmit').on('click', function (event) {
            var GradingIssueList = $("#txtExcelData").get(0).files;
            var formData = new FormData();
            if (GradingIssueList.length > 0) {
            formData.append('postedFile', GradingIssueList[0]);
            GetGradingIssue(formData);
            }
            else {
                bootstrap_alert.warning('Select the Excel File to proceed further', "error");
            }
        });

        @*//select BATCH_NO,ORGN_CODE,SUPERVISOR_CODE,RECIPE_CODE,DATE_OF_OPERATION,ISSUED_GRADE,CROP,VARIETY,GPIL_BALE_NUMBER,SUBINVENTORY_CODE,ASCERTAIN_WEIGHT,'V' AS INS_STS from [Sheet1$]*@
        function GetGradingIssue(formData) {
            //var dt01 = $('#dynamic-tabl').DataTable();
            var tblContent = '';
            spinner.show();
            $.ajax({
                type: 'POST',
                url: '/DataLoader/ImportGIFromExcel',
                data: formData,
                contentType: false,
                processData: false,
                success: function (msg) {
                    let data = $.parseJSON(msg);



                    var gethdnBATCH_NO = "";
                    for (var i = 0; i < data.length; i++) {
                        var j = i + 1;
                        var BATCH_NO = (data[i].BATCH_NO == null) ? "" : data[i].BATCH_NO;
                        gethdnBATCH_NO = BATCH_NO; // this gives textbox value
                        var ORGN_CODE = (data[i].ORGN_CODE == null) ? "" : data[i].ORGN_CODE;
                        var SUPERVISOR_CODE = (data[i].SUPERVISOR_CODE == null) ? "" : data[i].SUPERVISOR_CODE;

                        var RECIPE_CODE = (data[i].RECIPE_CODE == null) ? "" : data[i].RECIPE_CODE;
                        var DATE_OF_OPERATION = (data[i].DATE_OF_OPERATION == null) ? "" : data[i].DATE_OF_OPERATION;

                        var ISSUED_GRADE = (data[i].ISSUED_GRADE == null) ? "" : data[i].ISSUED_GRADE;
                        var CROP = (data[i].CROP == null) ? "" : data[i].CROP;
                        var VARIETY = (data[i].VARIETY == null) ? "" : data[i].VARIETY;

                        var GPIL_BALE_NUMBER = (data[i].GPIL_BALE_NUMBER == null) ? "" : data[i].GPIL_BALE_NUMBER;
                        var SUBINVENTORY_CODE = (data[i].SUBINVENTORY_CODE == null) ? "" : data[i].SUBINVENTORY_CODE;
                        var ASCERTAIN_WEIGHT = (data[i].ASCERTAIN_WEIGHT == null) ? "" : data[i].ASCERTAIN_WEIGHT;
                        var INS_STS = (data[i].INS_STS == null) ? "" : data[i].INS_STS;


                        if (BATCH_NO == "" || ORGN_CODE == "" || SUPERVISOR_CODE == "" || RECIPE_CODE == "" || DATE_OF_OPERATION == "" || ISSUED_GRADE == "" || CROP == "" ||
                           VARIETY == "" || GPIL_BALE_NUMBER == "" || SUBINVENTORY_CODE == "" || ASCERTAIN_WEIGHT == "" || INS_STS == "")
                        {
                            bootstrap_alert.warning('Empty In Data Which Have Provided Please verify red color rows', "error");
                            tblContent = tblContent + '<tr style="background-color:Red;color:Black">'
                           + '<td class="trBg" style="text-align:center;" >' + j + '</td >'
                           + '<td class="trBg"><span class="trBg">' + BATCH_NO + '</span><input class="text" value="' + BATCH_NO + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + ORGN_CODE + '</span><input class="text" value="' + ORGN_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + SUPERVISOR_CODE + '</span><input class="text" value="' + SUPERVISOR_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + RECIPE_CODE + '</span><input class="text" value="' + RECIPE_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + DATE_OF_OPERATION + '</span><input class="text" value="' + DATE_OF_OPERATION + '" style="display:none"/></span></td>'

                           + '<td class="trBg"><span class="trBg">' + ISSUED_GRADE + '</span><input class="text" value="' + ISSUED_GRADE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + CROP + '</span><input class="text" value="' + CROP + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + VARIETY + '</span><input class="text" value="' + VARIETY + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + GPIL_BALE_NUMBER + '</span><input class="text" value="' + GPIL_BALE_NUMBER + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + SUBINVENTORY_CODE + '</span><input class="text" value="' + SUBINVENTORY_CODE + '" style="display:none"/></span></td>'

                           + '<td class="trBg"><span class="trBg">' + ASCERTAIN_WEIGHT + '</span><input class="text" value="' + ASCERTAIN_WEIGHT + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + INS_STS + '</span><input class="text" value="' + INS_STS + '" style="display:none"/></span></td>'

                           + '<td class="trBg"><input class="text1" type="hidden" value="' + BATCH_NO + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                           + '</tr >';
                        }
                        else
                        {
                            tblContent = tblContent + '<tr>'
                           + '<td class="trBg" style="text-align:center;" >' + j + '</td >'
                           + '<td class="trBg"><span class="trBg">' + BATCH_NO + '</span><input class="text" value="' + BATCH_NO + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + ORGN_CODE + '</span><input class="text" value="' + ORGN_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + SUPERVISOR_CODE + '</span><input class="text" value="' + SUPERVISOR_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + RECIPE_CODE + '</span><input class="text" value="' + RECIPE_CODE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + DATE_OF_OPERATION + '</span><input class="text" value="' + DATE_OF_OPERATION + '" style="display:none"/></span></td>'

                           + '<td class="trBg"><span class="trBg">' + ISSUED_GRADE + '</span><input class="text" value="' + ISSUED_GRADE + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + CROP + '</span><input class="text" value="' + CROP + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + VARIETY + '</span><input class="text" value="' + VARIETY + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + GPIL_BALE_NUMBER + '</span><input class="text" value="' + GPIL_BALE_NUMBER + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + SUBINVENTORY_CODE + '</span><input class="text" value="' + SUBINVENTORY_CODE + '" style="display:none"/></span></td>'

                           + '<td class="trBg"><span class="trBg">' + ASCERTAIN_WEIGHT + '</span><input class="text" value="' + ASCERTAIN_WEIGHT + '" style="display:none"/></span></td>'
                           + '<td class="trBg"><span class="trBg">' + INS_STS + '</span><input class="text" value="' + INS_STS + '" style="display:none"/></span></td>'

                           + '<td class="trBg"><input class="text1" type="hidden" value="' + BATCH_NO + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                           + '</tr >';
                        }

                       
                    }
                    var dt1 = $('#dynamic-tabl').DataTable();
                    dt1.destroy();
                    $('#dynamic-tabl tbody').empty();
                    $('#dynamic-tabl tbody').append(tblContent);
                    spinner.hide();
                    var myTable1 =
                     $('#dynamic-tabl')
                         //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                         .DataTable({
                             "bLengthChange": true,
                             "paging": false,
                             "jQueryUI": true,
                             bAutoWidth: false,
                             "sScrollY": "200px",
                             "sScrollX": "100%",
                             "sScrollXInner":"100%",
                             'order': [[0, 'asc']],
                             "aoColumns": [
                                 null, null, null, null, null, null, null, null, null, null, null, null, null,
                                 { "bSortable": false },

                                 // { "bSortable": false }
                             ],
                             "aaSorting": [],


                             select: {
                                 style: 'multi'
                             }
                         });
                },
            });
        }


        $('#btnComplete').on('click', function () {
            var ExcelIndexList = $("#txtExcelData").get(0).files;
            if (ExcelIndexList.length > 0) {
                var LG = {};
            var GradingIssues = new Array();
            $("#dynamic-tabl tbody tr").each(function () {

                
                var row = $(this);
                var GradingIssue = {};
                GradingIssue.SNO = row.find("td:eq(0)")[0].innerText;
                GradingIssue.BATCH_NO = row.find("td:eq(1)")[0].innerText;
                GradingIssue.ORGN_CODE = row.find("td:eq(2)")[0].innerText;
                GradingIssue.SUPERVISOR_CODE = row.find("td:eq(3)")[0].innerText;
                GradingIssue.RECIPE_CODE = row.find("td:eq(4)")[0].innerText;
                GradingIssue.DATE_OF_OPERATION = row.find("td:eq(5)")[0].innerText;
                
                GradingIssue.ISSUED_GRADE = row.find("td:eq(6)")[0].innerText;
                GradingIssue.CROP = row.find("td:eq(7)")[0].innerText;
                GradingIssue.VARIETY = row.find("td:eq(8)")[0].innerText;
                GradingIssue.GPIL_BALE_NUMBER = row.find("td:eq(9)")[0].innerText;

                GradingIssue.SUBINVENTORY_CODE = row.find("td:eq(10)")[0].innerText;
                GradingIssue.ASCERTAIN_WEIGHT = row.find("td:eq(11)")[0].innerText;
                GradingIssue.INS_STS = row.find("td:eq(12)")[0].innerText;
                
                GradingIssues.push(GradingIssue);
            });
            if (GradingIssues.length > 0) {
                LG.GradingIssues = GradingIssues;
                spinner.show();
            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/DataLoader/GradingIssueComplete",
                data: JSON.stringify(LG),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //$('#postedFile').val() = "";
                    //alert("Successfully");
                    if (response.startsWith("Error", 1)) {
                        bootstrap_alert.warning(response, "error");
                        spinner.hide();
                    }
                    else {
                        if (response.startsWith("Error", 1)) {
                            bootstrap_alert.warning(response, "error");
                        }
                        else if (response.startsWith("Success", 1)) {

                            window.location = "/DataLoader/GradingIssueLoaderIndex";
                            bootstrap_alert.warning(response, "success");
                        }
                        spinner.hide();
                    }
                },
                error: function (msg) {
                    //alert(msg);
                }
            });

            }
            else {
                bootstrap_alert.warning('Click Import and load the Excel Data!!!', "error");
            }

        } else {
            bootstrap_alert.warning('Select the Excel File to proceed further', "error");
        }
        });




    })
</script>