
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Access Permission</h2>

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/Permission.aspx" frameBorder="0" style="width: 100%; height: 1600px;"></iframe>
        </div>
    </div>
</div>

