
@{
    ViewBag.Root = "REPORTS";
    ViewBag.Title = "LP5OLD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>LP5 OLD</h2>

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/REPORTS/LP5OldPage.aspx" frameBorder="0" style="width: 1320px; height: 1600px;"></iframe>
        </div>
    </div>
</div>