
@{
    ViewBag.Root = "REPORTS";
    ViewBag.Title = "LP5Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">LP5 PRINT </h2>

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/LP5Printing.aspx" frameBorder="0" style="width:1320px;height:1600px;"></iframe>
        </div>
    </div>
</div>