@model IEnumerable<GPILWebApp.Models.GPIL_FARMER_MASTER>
@{  ViewBag.root = "FarmerMaster";
    ViewBag.Title = "ExcelIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:#438EB9">Farmer Master Import Excel</h2>

<link href="css/custom.css" rel="stylesheet" />
<style type="text/css">
    #loader {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.75) url('../../Images/Loading.gif') no-repeat center center;
        z-index: 10000;
        /*background-image: url('../../Images/Loading.gif');*/
    }
</style>


<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="sm-3">

                <label class="label info">Excel File</label>
                <input type="file" name="postedFile" id="txtExcelData" class="form-control" />
                <br />
                <input type="submit" value="Import" id="btnSubmit" style="width:95px" class="btn btn-success btn-sm" />
                @*<input type="submit" value="Add" id="btnAddNewRow" style="width:95px" class="btn btn-success btn-sm" />*@
                <input type="submit" value="Complete" id="btnComplete" style="width:95px" class="btn btn-success btn-sm" />
            </div>
        </div>
    </div>
</div>


<div id="alert_placeholder"></div>
<span id="message"></span>
@*p>@ViewBag.ErrorMessage</p>*@

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">FARMER UPLOAD</h3>
        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
            RESULT FOR "FARMER DETAILS"
        </div>
        <div class="form-horizondal" id="frmdetl" style="overflow-y: scroll; overflow-x: scroll; height:auto">

            <table id="dynamic-tabl" class="table table-striped table-bordered table-hover alert-dark table-condensed">
                <thead class="thead-dark">
                    <tr>
                        <th>SNO</th>
                        <th>CROP</th>
                        <th>VARIETY</th>
                        <th>FARMER_CODE</th>
                        <th>FARMER_CATEGORY</th>
                        <th>FARMER_NAME</th>
                        <th>FARMER_FATHER_NAME</th>
                        <th>VILLAGE_CODE</th>
                        <th>SOIL_TYPE</th>
                        <th>FARMER_ADDRESS1</th>
                        <th>FARMER_ADDRESS2</th>
                        <th>FARMER_ADDRESS3</th>
                        <th>FARMER_ADDRESS4</th>
                        <th>FARMER_ADDRESS5</th>
                        <th>FARMER_ADDRESS6</th>
                        <th>COUNTRY</th>
                        <th>PIN_CODE</th>
                        <th>TEL_NO</th>
                        <th>MOBILE_NO</th>
                        <th>EMAIL_ID</th>
                        <th>BANK_ACCOUNT_NO</th>
                        <th>BANK_NAME</th>
                        <th>BRANCH_NAME</th>
                        <th>IFSC_CODE</th>
                        <th>STATUS</th>
                        <th>Adhaar</th>

                        <th>Authorized_Quantity</th>
                        <th>Bright</th>
                        <th>Medium</th>
                        <th>Low</th>
                        <th>Others</th>

                        <th>ADD/EDIT/DELETE</th>


                        <th></th>

                    </tr>
                </thead>

                <tbody></tbody>

            </table>



        </div>
    </div>
</div>

<div id="loader">
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@*@section scripts{*@

<script src="~/assets/js/jquery-2.1.4.min.js"></script>

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

<script>

    bootstrap_alert = function () { }
    bootstrap_alert.warning = function (message, status) {
        if (status == "success") {
            $('#alert_placeholder').html('<div class="alert alert-success" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        else if (status == "error") {
            $('#alert_placeholder').html('<div class="alert alert-danger" role="alert"><a class="close" data-dismiss="alert">×</a><span>' + message + '</span></div>')
        }
        $("#alert_placeholder").fadeTo(5000, 500).slideUp(500, function () {
            $("#alert_placeholder").slideUp(500);
        });
    }


    $(document).ready(function () {
        $('.alert').hide();
        var spinner = $('#loader');
        //Create event handler
        $('#btnCreate').on('click', function (event) {

            var hdnHEADER_ID = $('#hdnHEADER_ID').val();
            window.location = '/Verification/Create?HEADER_ID=' + hdnHEADER_ID
            //$.ajax({
            //    type: 'GET',
            //    url: '/Verification/Create',
            //    data: { HEADER_ID: hdnHEADER_ID },
            //    //success: function (msg) {
            //    //    alert(0); alert("Successfully");
            //    //},
            //    //error: function (msg) {
            //    //    alert(0); alert(msg);
            //    //}
            //});
        });

        //Edit event handler.
        $("#dynamic-tabl").on('click', '.btnEdit', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    $(this).find(".text").show();
                    $(this).find(".trBg").hide();
                }
            });
            row.find(".btnUpdate").show();
            row.find(".btnCancel").show();
            row.find(".btnDelete").hide();
            $(this).hide();
        });

        //Cancel event handler.
        $("#dynamic-tabl").on('click', '.btnCancel', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find(".text").length > 0) {
                    var span = $(this).find(".trBg");
                    var input = $(this).find(".text");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnCancel").hide();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });

        //Update event handler.
        $("#dynamic-tabl").on('click', '.btnUpdate', function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });

            row.find(".btnEdit").show();
            row.find(".btnDelete").show();
            row.find(".btnCancel").hide();
            row.find(".btnUpdate").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("#dynamic-tabl").on('click', '.btnDelete', function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                row.remove();
            }
        });



        $('#btnSubmit').on('click', function (event) {
            var ExcelIndexList = $("#txtExcelData").get(0).files;
            var formData = new FormData();
            if (ExcelIndexList.length > 0) {
                formData.append('postedFile', ExcelIndexList[0]);
                GetFarmerExcel(formData);
            } else {
                bootstrap_alert.warning('Select the Excel File to proceed further', "error");
            }
        });



        function GetFarmerExcel(formData) {
            //var dt01 = $('#dynamic-tabl').DataTable();
            var tblContent = '';
            spinner.show();
            $.ajax({
                type: 'POST',
                url: '/GPIL_FARMER_MASTER/ImportFromExcel',
                data: formData,
                contentType: false,
                processData: false,
                success: function (msg) {
                    let data = $.parseJSON(msg);

                    var gethdnFARM_CODE = "";
                    for (var i = 0; i < data.length; i++) {
                        var j = i + 1;
                        var CROP = (data[i].CROP == null) ? "" : data[i].CROP;
                        var VARIETY = (data[i].VARIETY == null) ? "" : data[i].VARIETY;
                        var FARMER_CODE = (data[i].FARMER_CODE == null) ? "" : data[i].FARMER_CODE;
                        gethdnFARM_CODE = FARMER_CODE; // this gives textbox value
                        var FARMER_CATEGORY = (data[i].FARMER_CATEGORY == null) ? "" : data[i].FARMER_CATEGORY;
                        var FARMER_NAME = (data[i].FARMER_NAME == null) ? "" : data[i].FARMER_NAME;
                        var FARMER_FATHER_NAME = (data[i].FARMER_FATHER_NAME == null) ? "" : data[i].FARMER_FATHER_NAME;
                        var VILLAGE_CODE = (data[i].VILLAGE_CODE == null) ? "" : data[i].VILLAGE_CODE;
                        var SOIL_TYPE = (data[i].SOIL_TYPE == null) ? "" : data[i].SOIL_TYPE;
                        var FARMER_ADDRESS1 = (data[i].FARMER_ADDRESS1 == null) ? "" : data[i].FARMER_ADDRESS1;
                        var FARMER_ADDRESS2 = (data[i].FARMER_ADDRESS2 == null) ? "" : data[i].FARMER_ADDRESS2;

                        var FARMER_ADDRESS3 = (data[i].FARMER_ADDRESS3 == null) ? "" : data[i].FARMER_ADDRESS3;
                        var FARMER_ADDRESS4 = (data[i].FARMER_ADDRESS4 == null) ? "" : data[i].FARMER_ADDRESS4;
                        var FARMER_ADDRESS5 = (data[i].FARMER_ADDRESS5 == null) ? "" : data[i].FARMER_ADDRESS5;
                        var FARMER_ADDRESS6 = (data[i].FARMER_ADDRESS6 == null) ? "" : data[i].FARMER_ADDRESS6;
                        var COUNTRY = (data[i].COUNTRY == null) ? "" : data[i].COUNTRY;
                        var PIN_CODE = (data[i].PIN_CODE == null) ? "" : data[i].PIN_CODE;
                        var TEL_NO = (data[i].TEL_NO == null) ? "" : data[i].TEL_NO;
                        var MOBILE_NO = (data[i].MOBILE_NO == null) ? "" : data[i].MOBILE_NO;
                        var EMAIL_ID = (data[i].EMAIL_ID == null) ? "" : data[i].EMAIL_ID;
                        var BANK_ACCOUNT_NO = (data[i].BANK_ACCOUNT_NO == null) ? "" : data[i].BANK_ACCOUNT_NO;
                        var BANK_NAME = (data[i].BANK_NAME == null) ? "" : data[i].BANK_NAME;
                        var BRANCH_NAME = (data[i].BRANCH_NAME == null) ? "" : data[i].BRANCH_NAME;

                        var IFSC_CODE = (data[i].IFSC_CODE == null) ? "" : data[i].IFSC_CODE;
                        var STATUS = (data[i].STATUS == null) ? "" : data[i].STATUS;
                        var Adhaar = (data[i].Adhaar == null) ? "" : data[i].Adhaar;

                        var Authorized_Quantity = (data[i].Authorized_Quantity == null) ? "" : data[i].Authorized_Quantity;
                        var Bright = (data[i].Bright == null) ? "" : data[i].Bright;
                        var Medium = (data[i].Medium == null) ? "" : data[i].Medium;
                        var Low = (data[i].IFSC_CODE == null) ? "" : data[i].Low;
                        var Others = (data[i].STATUS == null) ? "" : data[i].Others;

                        var TOTAuthorized_Quantity = 0;
                        TOTAuthorized_Quantity = parseFloat(Bright) + parseFloat(Medium) + parseFloat(Low) + parseFloat(Others);
                        //if (FARMER_CODE == "" || FARMER_NAME == "" || FARMER_FATHER_NAME == "" || VILLAGE_CODE == "" || SOIL_TYPE == "" || FARMER_ADDRESS1 == "" || FARMER_ADDRESS2 == "" || COUNTRY == "" || PIN_CODE == "" || TEL_NO == "" || EMAIL_ID == "" || BANK_ACCOUNT_NO == "" || BANK_NAME == "" || BRANCH_NAME == "" || IFSC_CODE=="") {
                        if (FARMER_CODE == "" || FARMER_CODE.length > 50 || FARMER_CATEGORY == "" || FARMER_CATEGORY.length > 15 ||
                            FARMER_NAME == "" || FARMER_NAME.length > 50 || FARMER_FATHER_NAME == "" || FARMER_FATHER_NAME.length > 50 ||
                            VILLAGE_CODE == "" || SOIL_TYPE == "" || FARMER_ADDRESS1 == "" ||
                            FARMER_ADDRESS2 == "" || COUNTRY == "" || BANK_ACCOUNT_NO == "" || BANK_ACCOUNT_NO.length > 25 || BANK_NAME == "" || BANK_NAME.length > 50 || BRANCH_NAME == "" || BRANCH_NAME.length > 50 ||
                            IFSC_CODE.length > 11 || IFSC_CODE == "") {
                            tblContent = tblContent + '<tr style="background-color:#F5405F">'
                            + '<td class="trBg" style="text-align:center;" >' + j + '</td >'
                            + '<td class="trBg"><span class="trBg">' + CROP + '</span><input class="text" value="' + CROP + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + VARIETY + '</span><input class="text" value="' + VARIETY + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_CODE + '</span><input class="text" value="' + FARMER_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_CATEGORY + '</span><input class="text" value="' + FARMER_CATEGORY + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg"  style="width:100px">' + FARMER_NAME + '</span><input class="text" value="' + FARMER_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_FATHER_NAME + '</span><input class="text" value="' + FARMER_FATHER_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + VILLAGE_CODE + '</span><input class="text" value="' + VILLAGE_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + SOIL_TYPE + '</span><input class="text" value="' + SOIL_TYPE + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS1 + '</span><input class="text" value="' + FARMER_ADDRESS1 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS2 + '</span><input class="text" value="' + FARMER_ADDRESS2 + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS3 + '</span><input class="text" value="' + FARMER_ADDRESS3 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS4 + '</span><input class="text" value="' + FARMER_ADDRESS4 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS5 + '</span><input class="text" value="' + FARMER_ADDRESS5 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS6 + '</span><input class="text" value="' + FARMER_ADDRESS6 + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + COUNTRY + '</span><input class="text" value="' + COUNTRY + '" style="display:none"/></span></td>'
                             + '<td class="trBg"><span class="trBg">' + PIN_CODE + '</span><input class="text" value="' + PIN_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + TEL_NO + '</span><input class="text" value="' + TEL_NO + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + MOBILE_NO + '</span><input class="text" value="' + MOBILE_NO + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + EMAIL_ID + '</span><input class="text" value="' + EMAIL_ID + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BANK_ACCOUNT_NO + '</span><input class="text" value="' + BANK_ACCOUNT_NO + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BANK_NAME + '</span><input class="text" value="' + BANK_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BRANCH_NAME + '</span><input class="text" value="' + BRANCH_NAME + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + IFSC_CODE + '</span><input class="text" value="' + IFSC_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + STATUS + '</span><input class="text" value="' + STATUS + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Adhaar + '</span><input class="text" value="' + Adhaar + '" style="display:none"/></span></td>'



                            + '<td class="trBg"><span class="trBg">' + Authorized_Quantity + '</span><input class="text" value="' + Authorized_Quantity + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Bright + '</span><input class="text" value="' + Bright + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Medium + '</span><input class="text" value="' + Medium + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Low + '</span><input class="text" value="' + Low + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Others + '</span><input class="text" value="' + Others + '" style="display:none"/></span></td>'


                            + '<td class="trBg"><input class="text1" type="hidden" value="' + FARMER_CODE + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                            + '</tr >';
                        }
                        else if (Authorized_Quantity == "" || Bright == "" || Medium == "" || Low == "" || Others == "" ||
                        Authorized_Quantity != TOTAuthorized_Quantity) {
                            tblContent = tblContent + '<tr style="background-color:#F5405F">'
                            + '<td class="trBg" style="text-align:center;" >' + j + '</td >'
                            + '<td class="trBg"><span class="trBg">' + CROP + '</span><input class="text" value="' + CROP + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + VARIETY + '</span><input class="text" value="' + VARIETY + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_CODE + '</span><input class="text" value="' + FARMER_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_CATEGORY + '</span><input class="text" value="' + FARMER_CATEGORY + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg"  style="width:100px">' + FARMER_NAME + '</span><input class="text" value="' + FARMER_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_FATHER_NAME + '</span><input class="text" value="' + FARMER_FATHER_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + VILLAGE_CODE + '</span><input class="text" value="' + VILLAGE_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + SOIL_TYPE + '</span><input class="text" value="' + SOIL_TYPE + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS1 + '</span><input class="text" value="' + FARMER_ADDRESS1 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS2 + '</span><input class="text" value="' + FARMER_ADDRESS2 + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS3 + '</span><input class="text" value="' + FARMER_ADDRESS3 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS4 + '</span><input class="text" value="' + FARMER_ADDRESS4 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS5 + '</span><input class="text" value="' + FARMER_ADDRESS5 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS6 + '</span><input class="text" value="' + FARMER_ADDRESS6 + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + COUNTRY + '</span><input class="text" value="' + COUNTRY + '" style="display:none"/></span></td>'
                             + '<td class="trBg"><span class="trBg">' + PIN_CODE + '</span><input class="text" value="' + PIN_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + TEL_NO + '</span><input class="text" value="' + TEL_NO + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + MOBILE_NO + '</span><input class="text" value="' + MOBILE_NO + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + EMAIL_ID + '</span><input class="text" value="' + EMAIL_ID + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BANK_ACCOUNT_NO + '</span><input class="text" value="' + BANK_ACCOUNT_NO + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BANK_NAME + '</span><input class="text" value="' + BANK_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BRANCH_NAME + '</span><input class="text" value="' + BRANCH_NAME + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + IFSC_CODE + '</span><input class="text" value="' + IFSC_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + STATUS + '</span><input class="text" value="' + STATUS + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Adhaar + '</span><input class="text" value="' + Adhaar + '" style="display:none"/></span></td>'



                            + '<td class="trBg"><span class="trBg">' + Authorized_Quantity + '</span><input class="text" value="' + Authorized_Quantity + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Bright + '</span><input class="text" value="' + Bright + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Medium + '</span><input class="text" value="' + Medium + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Low + '</span><input class="text" value="' + Low + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Others + '</span><input class="text" value="' + Others + '" style="display:none"/></span></td>'


                            + '<td class="trBg"><input class="text1" type="hidden" value="' + FARMER_CODE + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                            + '</tr >';
                        }
                        else {
                            tblContent = tblContent + '<tr>'
                            + '<td class="trBg" style="text-align:center;" >' + j + '</td >'
                            + '<td class="trBg"><span class="trBg">' + CROP + '</span><input class="text" value="' + CROP + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + VARIETY + '</span><input class="text" value="' + VARIETY + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_CODE + '</span><input class="text" value="' + FARMER_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_CATEGORY + '</span><input class="text" value="' + FARMER_CATEGORY + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg"  style="width:100px">' + FARMER_NAME + '</span><input class="text" value="' + FARMER_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_FATHER_NAME + '</span><input class="text" value="' + FARMER_FATHER_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + VILLAGE_CODE + '</span><input class="text" value="' + VILLAGE_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + SOIL_TYPE + '</span><input class="text" value="' + SOIL_TYPE + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS1 + '</span><input class="text" value="' + FARMER_ADDRESS1 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS2 + '</span><input class="text" value="' + FARMER_ADDRESS2 + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS3 + '</span><input class="text" value="' + FARMER_ADDRESS3 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS4 + '</span><input class="text" value="' + FARMER_ADDRESS4 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS5 + '</span><input class="text" value="' + FARMER_ADDRESS5 + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + FARMER_ADDRESS6 + '</span><input class="text" value="' + FARMER_ADDRESS6 + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + COUNTRY + '</span><input class="text" value="' + COUNTRY + '" style="display:none"/></span></td>'
                             + '<td class="trBg"><span class="trBg">' + PIN_CODE + '</span><input class="text" value="' + PIN_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + TEL_NO + '</span><input class="text" value="' + TEL_NO + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + MOBILE_NO + '</span><input class="text" value="' + MOBILE_NO + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + EMAIL_ID + '</span><input class="text" value="' + EMAIL_ID + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BANK_ACCOUNT_NO + '</span><input class="text" value="' + BANK_ACCOUNT_NO + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BANK_NAME + '</span><input class="text" value="' + BANK_NAME + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + BRANCH_NAME + '</span><input class="text" value="' + BRANCH_NAME + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + IFSC_CODE + '</span><input class="text" value="' + IFSC_CODE + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + STATUS + '</span><input class="text" value="' + STATUS + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Adhaar + '</span><input class="text" value="' + Adhaar + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><span class="trBg">' + Authorized_Quantity + '</span><input class="text" value="' + Authorized_Quantity + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Bright + '</span><input class="text" value="' + Bright + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Medium + '</span><input class="text" value="' + Medium + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Low + '</span><input class="text" value="' + Low + '" style="display:none"/></span></td>'
                            + '<td class="trBg"><span class="trBg">' + Others + '</span><input class="text" value="' + Others + '" style="display:none"/></span></td>'

                            + '<td class="trBg"><input class="text1" type="hidden" value="' + FARMER_CODE + '"/></span>  <button class="btnEdit">Edit</button><button class="btnDelete">Delete</button><button class="btnUpdate" style="display:none">Update</button><button class="btnCancel" style="display:none">Cancel</button></td>'
                            + '</tr >';
                        }
                    }
                    var dt1 = $('#dynamic-tabl').DataTable();
                    dt1.destroy();
                    $('#dynamic-tabl tbody').empty();
                    $('#dynamic-tabl tbody').append(tblContent);
                    spinner.hide();
                    var myTable =
                        $('#dynamic-tabl')
                            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                            .DataTable({
                                "bLengthChange": true,
                                "paging": false,
                                "jQueryUI": true,
                                bAutoWidth: false,
                                'order': [[0, 'asc']],
                                "aoColumns": [
                                    null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null,
                                    { "bSortable": false },

                                    // { "bSortable": false }
                                ],
                                "aaSorting": [],

                                //"bProcessing": true,
                                //"bServerSide": true,
                                //"sAjaxSource": "http://127.0.0.1/table.php"	,

                                //,
                                "sScrollY": "200px",
                                // "bPaginate": true,

                                //"sScrollX": "100%",
                                //"sScrollXInner": "120%",
                                //"bScrollCollapse": true,
                                //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                                //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                                //"iDisplayLength": 50,


                                select: {
                                    style: 'multi'
                                }
                            });



                    $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

                    new $.fn.dataTable.Buttons(myTable, {
                        buttons: [
                            {
                                "extend": "colvis",
                                "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                                "className": "btn btn-white btn-primary btn-bold",
                                columns: ':not(:first):not(:last)'
                            },
                            {
                                "extend": "copy",
                                "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                                "className": "btn btn-white btn-primary btn-bold"
                            },
                            {
                                "extend": "csv",
                                "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                                "className": "btn btn-white btn-primary btn-bold"
                            },
                            {
                                "extend": "excel",
                                "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                                "className": "btn btn-white btn-primary btn-bold"
                            },
                            {
                                "extend": "pdf",
                                "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                                "className": "btn btn-white btn-primary btn-bold"
                            },
                            {
                                "extend": "print",
                                "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                                "className": "btn btn-white btn-primary btn-bold",
                                autoPrint: false,
                                message: 'This print was produced using the Print button for DataTables'
                            }
                        ]
                    });
                    myTable.buttons().container().appendTo($('.tableTools-container1'));

                    //style the message box
                    var defaultCopyAction = myTable.button(1).action();
                    myTable.button(1).action(function (e, dt, button, config) {
                        defaultCopyAction(e, dt, button, config);
                        $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
                    });


                    var defaultColvisAction = myTable.button(0).action();
                    myTable.button(0).action(function (e, dt, button, config) {

                        defaultColvisAction(e, dt, button, config);


                        if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                            $('.dt-button-collection')
                                .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                                .find('a').attr('href', '#').wrap("<li />")
                        }
                        $('.dt-button-collection').appendTo('.tableTools-container1 .dt-buttons')
                    });

                    ////

                    setTimeout(function () {
                        $($('.tableTools-container1')).find('a.dt-button').each(function () {
                            var div = $(this).find(' > div').first();
                            if (div.length == 1) div.tooltip({ container: 'body', title: div.parent().text() });
                            else $(this).tooltip({ container: 'body', title: $(this).text() });
                        });
                    }, 2000);





                    myTable.on('select', function (e, dt, type, index) {
                        if (type === 'row') {
                            $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
                        }
                    });
                    myTable.on('deselect', function (e, dt, type, index) {
                        if (type === 'row') {
                            $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
                        }
                    });




                    /////////////////////////////////
                    //table checkboxes
                    $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

                    //select/deselect all rows according to table header checkbox
                    $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
                        var th_checked = this.checked;//checkbox inside "TH" table header

                        $('#dynamic-table').find('tbody > tr').each(function () {
                            var row = this;
                            if (th_checked) myTable.row(row).select();
                            else myTable.row(row).deselect();
                        });
                    });

                    //select/deselect a row when the checkbox is checked/unchecked
                    $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                        var row = $(this).closest('tr').get(0);
                        if (this.checked) myTable.row(row).deselect();
                        else myTable.row(row).select();
                    });



                    $(document).on('click', '#dynamic-table.dropdown-toggle', function (e) {
                        e.stopImmediatePropagation();
                        e.stopPropagation();
                        e.preventDefault();
                    });

                },
                error: function (msg) {
                    bootstrap_alert.warning(msg.responseText, "error");
                }
            });
        }


        $('#btnComplete').on('click', function () {
            var ExcelIndexList = $("#txtExcelData").get(0).files;
            if (ExcelIndexList.length > 0) {
                var LFM = {};
                var FarmerMasters = new Array();
                $("#dynamic-tabl tbody tr").each(function () {


                    var row = $(this);
                    var FarmerMaster = {};
                    FarmerMaster.SNO = row.find("td:eq(0)")[0].innerText;
                    FarmerMaster.CROP = row.find("td:eq(1)")[0].innerText;
                    FarmerMaster.VARIETY = row.find("td:eq(2)")[0].innerText;
                    FarmerMaster.FARM_CODE = row.find("td:eq(3)")[0].innerText;
                    FarmerMaster.FARM_CATEGORY = row.find("td:eq(4)")[0].innerText;
                    FarmerMaster.FARM_NAME = row.find("td:eq(5)")[0].innerText;
                    FarmerMaster.FARM_FATHER_NAME = row.find("td:eq(6)")[0].innerText;
                    FarmerMaster.VILLAGE_CODE = row.find("td:eq(7)")[0].innerText;
                    FarmerMaster.SOIL_TYPE = row.find("td:eq(8)")[0].innerText;
                    FarmerMaster.FARM_ADDRESS1 = row.find("td:eq(9)")[0].innerText;
                    FarmerMaster.FARM_ADDRESS2 = row.find("td:eq(10)")[0].innerText;
                    FarmerMaster.FARM_ADDRESS3 = row.find("td:eq(11)")[0].innerText;
                    FarmerMaster.FARM_ADDRESS4 = row.find("td:eq(12)")[0].innerText;
                    FarmerMaster.FARM_ADDRESS5 = row.find("td:eq(13)")[0].innerText;
                    FarmerMaster.FARM_ADDRESS6 = row.find("td:eq(14)")[0].innerText;
                    FarmerMaster.COUNTRY = row.find("td:eq(15)")[0].innerText;
                    FarmerMaster.PIN_CODE = row.find("td:eq(16)")[0].innerText;
                    FarmerMaster.TEL_NO = row.find("td:eq(17)")[0].innerText;
                    FarmerMaster.MOBILE_NO = row.find("td:eq(18)")[0].innerText;
                    FarmerMaster.EMAIL_ID = row.find("td:eq(19)")[0].innerText;
                    FarmerMaster.BANK_ACCOUNT_NO = row.find("td:eq(20)")[0].innerText;
                    FarmerMaster.BANK_NAME = row.find("td:eq(21)")[0].innerText;
                    FarmerMaster.BRANCH_NAME = row.find("td:eq(22)")[0].innerText;
                    FarmerMaster.IFSC_CODE = row.find("td:eq(23)")[0].innerText;
                    FarmerMaster.STATUS = row.find("td:eq(24)")[0].innerText;
                    FarmerMaster.ATTRIBUTE3 = row.find("td:eq(25)")[0].innerText;

                    FarmerMaster.A1 = row.find("td:eq(26)")[0].innerText;
                    FarmerMaster.A2 = row.find("td:eq(27)")[0].innerText;
                    FarmerMaster.A3 = row.find("td:eq(28)")[0].innerText;
                    FarmerMaster.A4 = row.find("td:eq(29)")[0].innerText;
                    FarmerMaster.A5 = row.find("td:eq(30)")[0].innerText;

                    FarmerMasters.push(FarmerMaster);
                });
                if (FarmerMasters.length > 0) {
                    LFM.FarmerMasters = FarmerMasters;

                    //Send the JSON array to Controller using AJAX.
                    spinner.show();
                    $.ajax({
                        type: "POST",
                        url: "/GPIL_FARMER_MASTER/FarmerMasterComplete", //Url.Action("FarmerMasterComplete", "GPIL_FARMER_MASTER"),
                        data: JSON.stringify(LFM),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.startsWith("Error", 1)) {
                                bootstrap_alert.warning(response, "error");
                                spinner.hide();
                            }
                            else {


                                if (response.startsWith("Error", 1)) {
                                    bootstrap_alert.warning(response, "error");
                                }
                                else if (response.startsWith("Succuss", 1)) {

                                    window.location = "/GPIL_FARMER_MASTER/Index";
                                    bootstrap_alert.warning('Succussful', "success");
                                }
                                spinner.hide();
                            }
                        },
                        //error: function (response) {

                        //    if (response.startsWith("Error")) {
                        //        bootstrap_alert.warning(response, "error");
                        //    }
                        //    //bootstrap_alert.warning(response.responseText, "error");
                        //}
                    });
                } else {
                    bootstrap_alert.warning('Click Import and load the Excel Data!!!', "error");
                }
            } else {
                bootstrap_alert.warning('Select the Excel File to proceed further', "error");
            }
        });

    });
</script>
@*}*@