
@{
    ViewBag.Root = "Data Loader";
    ViewBag.Title = "TapPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-0">
    <div class="form-sm-12">
        <div class="form-control-sm">
            <iframe src="~/CrystalReport/WebForms/TAPPurchaseLoader.aspx" frameBorder="0" style="width:100%;height:900px;"></iframe>
        </div>
    </div>
</div>

